.first_section {
  margin-bottom: 5em;
}

.riskText {
  font-size: 12px;
  color: red;
  border: 1px solid red;
  border-radius: 25px;
  padding: 10px;
}

@media (max-width: 768px) {
  .main-text {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .main-text {
    width: 80%;
  }
}

.headingOne {
  font-size: 64px;
  margin: 30px 0px;
}

@media (max-width: 468px) {
  .headingOne {
    font-size: 28px;
  }
}
@media (min-width: 468px) and (max-width: 768px) {
  .headingOne {
    font-size: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .headingOne {
    font-size: 38px;
  }
}

.main-text {
  width: 60%;
}

@media (max-width: 468px) {
  .main-text {
    width: 25%;
  }
}
@media (min-width: 468px) and (max-width: 768px) {
  .main-text {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .main-text {
    width: 70%;
  }
}

.subHeadingOne {
  font-size: 22px;
  color: gray;
}

.subHeadingTwo {
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0px;
}

.first_section_btn {
  display: flex;
}

.btnOne {
  padding: 10px;
  /* padding: 10px 30px; */
  border: 1px solid gray;
  background-color: gray;
  color: white;
  /* color: black; */
  margin-right: 10px;
  border-radius: 5px;
}
@media (max-width: 468px) {
  .first_section_btn {
    font-size: 12px !important;
    display: block;
  }
}
@media (min-width: 468px) and (max-width: 768px) {
  .first_section_btn {
    font-size: 14px !important;
  }
}

@media (max-width: 468px) {
  .subHeadingOne,
  .subHeadingTwo {
    font-size: 15px !important;
  }
}
@media (min-width: 468px) and (max-width: 768px) {
  .subHeadingOne,
  .subHeadingTwo {
    font-size: 18px !important;
  }
}

.btnOne:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.btnTwo:hover {
  background-color: gray;
  color: black;
  cursor: pointer;
}

.btnTwo {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid gray;
  margin-right: 10px;
  border-radius: 5px;
}

@media (max-width: 468px) {
  .btnTwo {
    margin-top: 15px;
  }
}

.advantagesList {
  margin-top: 20px;
}

.advantagesList ul {
  display: flex;
  gap: 3em;
  color: gray;
  padding: 10px;
}

@media (max-width: 468px) {
  .advantagesList ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5em;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .advantagesList ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
    font-size: 14px;
  }
}

.pages-content {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

@media (max-width: 1092px) {
  .howitworks-con {
    max-width: 85vw;
  }
}