.navBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.navLinks ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.navLinks ul li {
  list-style: none;
  margin-left: 10px;
  cursor: pointer;
  padding: 0px 8px;
}

.navLinks ul li a {
  text-decoration: none;
  color: black;
  display: inline-block; 
  font-weight: 400; 
  border-bottom: 1px solid transparent;
}

.navLinks ul li a:hover {
  border-bottom: 1px solid gray;
  /* color: gray; */
}

.contact_btn {
  background-color: gray;
  /* color: black; */
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.contact_btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.logoCon {
  display: flex;
  align-content: center;
  align-items: center;
}

.logoImg {
  margin-right: 10px;
  width: 30px;
}

.logo_icon {
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

/* .navBar {
  position: fixed;
} */

.navBar {
  /* width: 100%; */
  width: 1200px;
  position: fixed; /* Fix the header */
  top: 0; /* Stick to top */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Make sure it stays above other content */
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  padding: 0.8em 2em;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* .active {
  text-decoration: none;
  color: black;
  font-weight: bold;
    width: 102px; 

} */

/* active link */
.navLinks ul li a.active {
  /* font-weight: 400;   */
  border-bottom: 1px solid gray;
 
}