@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.wrapper {
  /* max-width: 1300px; */
  max-width: 1200px;
  margin: 0 auto;
  /* height: 100vh; */
  /* margin: 30px auto; */
}

.main_content_page {
  margin-top: 10%;
}

@media (max-width: 468px) {
  .main_content_page {
    /* margin-top: 20%; */
    margin-top: 8%;
    /* margin-top: 22%; */
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 468px) and (max-width: 768px) {
  .main_content_page {
    margin-top: 11%;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1334px) {
  .main_content_page {
    /* margin-top: 11%; */
    margin-left: 15px;
    margin-right: 15px;
  }

}

.main_footer {
  height: 41em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
