.content_first {
  max-width: 48em;
  /* background-color: aqua; */
}


.content_first h1 {
  font-size: 3em;
  margin: 0 0 0.6em 0;
}

.content_first p {
  line-height: 1.5;
  font-size: 1.2em;
  margin: 0 0 1.3em 0;
  letter-spacing: 0.2px;
  color: gray;
}

.bold_text {
  font-weight: bold;
}
