.vision-container {
  max-width: 900px;
  margin: 0px auto;
}

.vision-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 2em;
  /* gap: 1em; */
}

.vision-heading {
  font-size: 38px;
  margin: 22px 0px;
}

.vision-highlights {
  color: gray;
  font-weight: 600;
}

.vision-text {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  color: gray;
}

.vision-card {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.cardOne {
  text-align: center;
  color: grey;
  line-height: 1.5;
}

.vision-card-heading {
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0px;
  color: black;
}

.vision_heading_ing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vision_heading_ing img {
  border-radius: 25px;
  padding: 10px;
  background-color: #f5f5f5;
}


@media (max-width: 468px) {
  .vision-heading {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .vision-heading {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .vision-heading {
    font-size: 1.5em;
  }
}
@media (max-width: 468px) {
  .vision-text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .vision-text {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .vision-text {
    font-size: 20px;
  }
}

@media (max-width: 468px) {
  .vision-card-heading {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .vision-card-heading{
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .vision-card-heading{
    font-size: 18px;
  }
}


@media (max-width: 468px) {
  .vision-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .vision-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .vision-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex; */
    max-width: 60em;
    gap: 3em;
    justify-content: flex-start;
  }
}


@media (max-width: 768px) {
  .vision-wrapper {
    margin-top: 6em;
  }
}