.footer_container {
  padding: 2em;
  max-width: 1200px;
  margin: 0px auto;
}

.footer_container_top {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* min-height: 100vh; */
}

.col1 {
  width: 24em;
}

.footer_col ul,
.footer_bottom ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer_col a {
  text-decoration: none;
  color: black;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
}

.col_bottom_2 ul {
  display: flex;
  justify-content: space-between;
}
.col_bottom_2 ul li {
  font-size: 0.95em;
}

.footer_contact {
  width: 21em;
  /* width: fit-content; */
  cursor: pointer;
  text-align: center;
  padding: 10px 10px;
  border: 1px solid gray;
  background-color: gray;
  /* color: black; */
  color: white;
  border-radius: 5px;
  text-align: left;
  font-size: 1em;
}

.col1_logo_Sec {
  display: flex;
  gap: 0.4em;
  align-items: center;
}

.col1_logo_Sec img {
  height: 35px;
}

.col1_logo_Sec span {
  font-size: 1.3em;
  font-weight: 600;
}

.col1 p {
  padding: 1em 0;
  line-height: 1.5;
}
.col1_loc_mail li {
  display: flex;
  gap: 0.5em;
  /* line-height: 1.5; */
  align-items: center;
  padding: 0.3em 0em;
}
.col1_loc_mail li img {
  height: 20px;
  display: flex;
  align-content: center;
  gap: 0.5em;
}

.col2 h4,
.col3 h4 {
  margin: 0 0 0.8em 0;
}
.col2 ul li {
  padding: 0.25em 0;
  font-size: 0.95em;
}

.col2 ul {
  margin: 1em 0 0 0;
  padding: 0.5em 0 0 0;
}

.col3,
.col_bottom_2 {
  width: 21em;
}
.col3 p {
  padding: 0.5em 0;
  line-height: 1.5;
}

.footer_bottom {
  margin: 3em 0em;
}
@media (max-width: 768px) {
  .footer_container_top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .footer_container_top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6em;
  }
}

.footer_wrapper {
  background-color: #f5f5f5;
  /* padding: 1em; */
  border-radius: 10px;
  margin: 5em 0em 0em 0em;
  /* height: 20em; */
  /* height: 10em; */
}

@media (max-width: 768px) {
  .footer_wrapper {
    margin: 0px;
    /* background-color: aliceblue; */
  }

  .footer_bottom {

    flex-direction: column;
    gap: 1em;
  }
}
/* @media (min-width: 576px) {
  .footer_wrapper {
    background-color: aliceblue;
  }
} */
@media (max-width: 468px) {
  /* .footer_container {
    background-color: aquamarine;
  } */

  .col1 p {
    padding: 1em 0.5em;
  }

  .footer_bottom {
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 1em;
  }
}

@media (max-width: 414px) {
  .footer_container {
    /* padding: 1em 2em 1em 0em; */
    padding: 1em;
    font-size: 14px;
  }

  .col1 p {
    padding: 1em 2em 1em 0em;
  }
}
