.technology_section h1 {
  font-size: 3em;
  margin: 0 0 0.5em 0;
}

.tech-content {
  /* font-size: 20px; */
  font-size: 1.2em;
  color: grey;
  line-height: 1.5;
  width: 60%;
  margin-top: 20px;
}

.tech-cards {
  margin: 5em 0em 2em 0em;
  /* margin: 5em 0em; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

@media (max-width: 468px) {
  .tech-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .tech-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .tech-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex; */
    max-width: 60em;
    gap: 3em;
    justify-content: flex-start;
  }
}

.card-details {
  border: 1px solid transparent;
  /* padding: 25px; */
  /* width: 33%; */
  display: flex;
  gap: 1em;
  align-items: start;
  padding: 1em;

  /* padding: 1em 2em; */
}

.card-img {
  /* position: relative; */
  /* bottom: 2px; */
  width: 30px;
}

@media (max-width: 468px) {
  .card-img {
    width: 16px;
  }
}
@media (max-width: 768px) {
  .card-img {
    width: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .card-img {
    width: 28px;
  }
}

.card-point {
  font-size: 12px;
  /* border: 1px solid gray; */
  padding: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
  /* border-radius: 25px; */
  /* background-color: lightgray; */
}

.card-heading {
  /* margin: 10px 0px;
  font-size: 23px; */
  margin: 12px 0px;
  font-size: 18px;
}

.card-content-text {
  /* font-size: 14px;
  color: gray; */

  line-height: 1.5;
  font-size: 0.9em;
  color: gray;
}

.card_image {
  display: flex;
  align-content: center;
  align-items: center;
  /* border: 1px solid gray;
  padding: 7px;
  position: relative;
  bottom: 3px;
  border-radius: 15px;
  background-color: lightgray; */

  /* width: 3em; */
  /* height: 3em; */
  /* border: 0.2px solid grey; */
  background-color: #f5f5f5;
  padding: 11px;
  border-radius: 10px;
}

.card-details:hover {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  /* cursor: pointer; */
}

@media (max-width: 768px) {
  .card-details {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
  }
}

@media (max-width: 468px) {
  .technology_section h1 {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .technology_section h1 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .technology_section h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 468px) {
  .tech-content {
    font-size: 14px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .tech-content {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .tech-content {
    font-size: 18px;
    width: 61%;
  }
}

@media (max-width: 468px) {
  .card-heading {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .card-heading {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .card-heading {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .technology_section {
    margin-top: 6em;
  }
}
