.cards_section {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  margin: 3em 0 0 0;
}
.cards_section_four {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  margin: 3em 0 0 0;
  gap: 2em;
}

.card {
  /* border: 1px solid blue; */
  width: 20em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid transparent;
  padding: 1em;
}
.card img {
  width: 3em;
  height: 3em;
  /* border: 0.2px solid grey; */
  background-color: #f5f5f5;
  padding: 11px;
  border-radius: 10px;
}

.card p {
  line-height: 1.5;
    color: gray;

}

.card:hover {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}


/* css for when the cards are four */
.four_cards {
  /* border: 1px solid blue; */
  width: 20em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  padding: 1em;
  cursor: context-menu;
  border: 1px solid transparent;
}
.four_cards img {
  width: 3em;
  height: 3em;
  /* border: 0.2px solid grey; */
  background-color: #f5f5f5;
  padding: 11px;
  border-radius: 10px;
}
.four_cards h2 {
  font-size: 1.2em;
}

.four_cards p {
  line-height: 1.5;
  font-size: 0.9em;
  color: gray;
}

.four_cards:hover {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
