.cards_section {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  margin: 3em 0 0 0;
}

@media (max-width: 468px) {
  .cards_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .cards_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.7em;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .cards_section {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    /* display: flex; */
    max-width: 60em;
    gap: 3em;
    justify-content: flex-start;
  }
}

.cards_section_four {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  margin: 3em 0 0 0;
  gap: 2em;
}

/* @media (max-width: 468px) {
  .cards_section_four {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
} */
@media (max-width: 768px) {
  .cards_section_four {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .cards_section_four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex; */
    /* max-width: 60em; */
    gap: 3em;
    justify-content: flex-start;
  }
}

.card {
  /* border: 1px solid blue; */
  width: 20em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid transparent;
  padding: 1em;
}
.card img {
  width: 3em;
  height: 3em;
  /* border: 0.2px solid grey; */
  background-color: #f5f5f5;
  padding: 11px;
  border-radius: 10px;
}

.card p {
  line-height: 1.5;
  color: gray;
}

.card:hover {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: fit-content;

  }
}

/* css for when the cards are four */
.four_cards {
  /* border: 1px solid blue; */
  width: 20em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  padding: 1em;
  cursor: context-menu;
  border: 1px solid transparent;
}

.four_cards p {
  margin-left: 10px;
}

.four_cards img {
  width: 3em;
  height: 3em;
  /* border: 0.2px solid grey; */
  background-color: #f5f5f5;
  padding: 11px;
  border-radius: 10px;
}

@media (max-width: 1092px) {
  .four_cards {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: fit-content;

  }
}
@media (max-width: 1092px) {
  .four_cards img {
    width: 38px;
    height: 38px;
  }
}

.four_cards h2 {
  /* font-size: 1.2em; */
}

.four_cards p {
  line-height: 1.5;
  font-size: 0.9em;
  color: gray;
}

.four_cards:hover {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

@media (max-width: 468px) {
  .card-heading-one {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .card-heading-one {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .card-heading-one {
    font-size: 24px;
  }
}
@media (max-width: 468px) {
  .card-content-one {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .card-content-one {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .card-content-one {
    font-size: 16px;
  }
}
