.content_first_section2 {
  /* border: 1px solid red; */
  text-align: center;
}
.content_first_section2 h1 {
  /* border: 1px solid red; */
  font-size: 3em;
  margin: 0 0 0.5em 0;
}
.content_first_section2 p {
  font-size: 1.2em;
  line-height: 2;
  color: gray;
  font-weight: 500;
  letter-spacing: 0.2px;
}
.content_first_section2 span {
  font-size: 1.2em;
  color: gray;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.img_section img {
  width: 81.3em;
  height: 21em;
  margin: 2.4em 0 0 0;
}
