.content_first_section2 {
  /* border: 1px solid red; */
  text-align: center;
}
.content_first_section2 h1 {
  /* border: 1px solid red; */
  font-size: 3em;
  margin: 0 0 0.5em 0;
}

@media (max-width: 468px) {
  .content_first_section2 h1 {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .content_first_section2 h1 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1092px) {
  .content_first_section2 h1 {
    font-size: 1.5em;
  }
}

.content_first_section2 p {
  font-size: 1.2em;
  line-height: 2;
  color: gray;
  font-weight: 500;
  letter-spacing: 0.2px;
}

@media (max-width: 468px) {
  .content_first_section2 p {
    font-size: 1em;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .content_first_section2 p {
    font-size: 1em;
    line-height: normal;
  }
}

@media (min-width: 768px) and (max-width: 1092px) {
  .content_first_section2 p {
    font-size: 1.1em;
    line-height: normal;
  }
}

.content_first_section2 span {
  font-size: 1.2em;
  color: gray;
  font-weight: 500;
  letter-spacing: 0.2px;
}

@media (max-width: 468px) {
  .content_first_section2 span {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  .content_first_section2 span {
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1092px) {
  .content_first_section2 span {
    font-size: 1.1em;
  }
}

.img_section img {
  width: 81.3em;
  height: 21em;
  margin: 2.4em 0 0 0;
}
